on:
  workflow_call:
    inputs:
      version:
        description: "Version to build"
        required: true
        type: string

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout 5m

      - name: Check code formatting
        run: |
          diff="$(go tool gofumpt -d .)"
          if [ -n "$diff" ]; then
            echo "$diff"
            exit 1
          fi

      - name: Static analysis
        run: go vet ./...

      - name: Run tests
        run: go tool gotestsum --junitfile results/unit-tests.xml

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "results/*.xml"
        if: always()

  build:
    name: build
    needs: lint
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
          - os: macos-latest
            goos: darwin
            goarch: amd64
          - os: macos-latest
            goos: darwin
            goarch: arm64

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          mkdir -p bin
          OUT="bin/cradle"
          if [ "$GOOS" = "windows" ]; then
            OUT="${OUT}.exe"
          fi
          go build -ldflags="-s -w -X main.Version=${{ inputs.version }}" -o "${OUT}" .
        shell: bash

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cradle-${{ matrix.goos }}-${{ matrix.goarch }}
          path: bin/*
